/* Fonts Include */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@font-face {
    src: url("../fonts/Poppins-Regular.ttf");
    font-family: "main";
}

/* Medium Fonts */

@font-face {
    src: url("../fonts/Poppins-Medium.ttf");
    font-family: "medium";
}

/* bold Fonts */

@font-face {
    src: url("../fonts/Poppins-Bold.ttf");
    font-family: "bold";
}

/* Fonts Include */

/* Start General */
html * {
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "main", sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #FE5A59;
    --secondary-color: #3F3F3E;
    --font-family: "main", sans-serif;
    --trans: all 0.4s ease-in-out;
    --font-14: 14px;
    --font-16: 16px;
}

body {
    overflow-x: hidden;
    transition: var(--trans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "bold", "main", sans-serif;
}

a:hover,
a:focus,
a:active,
button:hover,
button:focus,
button:active,
div,
section,
span,
p,
div:hover,
section:hover,
span:hover,
p:hover {
    text-decoration: none;
    outline: none;
}

select,
input[type="checkbox"],
input[type="radio"],
select:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus {
    cursor: pointer;
}

.form-control:focus,
.btn:focus {
    box-shadow: none !important;
    border-color: transparent;
}

.btn-belabeeb {
    padding: 8px 30px !important;
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
    color: #FFF !important;
    border-radius: 12px;
    font-family: 'medium', 'main', sans-serif;
    font-size: 16px;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

picture {
    display: block;
}

.sec-padding {
    padding: 40px 0;
}

/* Start General */

/* main header */
.dropdown-toggle::after {
    display: none;
}

.main-header .navbar-expand-lg .navbar-nav .nav-link {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 13px;
}

.has-num a.nav-link {
    position: relative;
}

.has-num a.nav-link span.num {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--main-color);
    color: #FFF;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
}

.has-new a.nav-link {
    position: relative;
}

.has-new a.nav-link::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    top: 3px;
    right: 10px;
}

.user-drop figure {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}
/* main header */

/* search-header */
.search-header {
    position: relative;
}

.search-header .form-control {
    background: #383B3E;
    border: none !important;
    height: 52px;
    border-radius: 3px;
    width: 614px;
    padding-left: 45px;
    color: #FFF;
    font-size: 15px;
}

.search-header .btn {
    position: absolute;
    top: 50%;
    left: 0;
    color: #FFF;
    transform: translateY(-50%);
}

.search-header .form-control::placeholder {
    color: white;
    opacity: 1;
}
/* search-header */

/* hero */
.hero {
    padding: 80px 0;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
    color: var(--main-color);
    text-transform: capitalize;
    margin-bottom: 20px;
}

.hero p {
    font-size: 16px;
    font-weight: 500;
    color: #3B3E40;
}

.hero span {
    font-size: 12px;
    font-weight: 500;
    color: #3B3E40;
}

.hero figure {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.hero figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right;
}
/* hero */

/* sec-title */
.sec-title {
    margin-bottom: 20px;
}

.sec-title h4 {
    font-size: 25px;
    font-weight: 700;
    color: #3B3E40;
    margin-bottom: 0;
}
/* sec-title */

/* vertical-course-item */
.vertical-course-item {
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.10);
    margin-top: 10px;
    margin-bottom: 20px;
}

.vertical-course-item figure {
    width: 125px;
    /* height: 100%; */
    overflow: hidden;
    margin-bottom: 0;
    flex: 1 1 calc(100% - 125px);
}

.vertical-text {
    width: calc(100% - 125px);
    flex: 1 1 calc(100% - 125px);
}

.vertical-text p {
    font-size: 14px;
    font-weight: 500;
    color: #3B3E40;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
}

.vertical-text h3 {
    font-size: 18px;
    font-weight: 700;
    color: #3B3E40;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
}

.vertical-text time {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: rgba(59, 62, 64, 0.6);
}

.vertical-arrows .swiper-button-prev,
.vertical-arrows .swiper-button-next,
.normal-arrows .swiper-button-prev,
.normal-arrows .swiper-button-next,
.normal-arrows1 .swiper-button-prev,
.normal-arrows1 .swiper-button-next {
    z-index: 99;
    width: 63px;
    height: 63px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    color: #FFF;
    font-size: 22px;
}

.vertical-arrows .swiper-button-prev::after,
.vertical-arrows .swiper-button-next::after,
.normal-arrows .swiper-button-prev::after,
.normal-arrows .swiper-button-next::after,
.normal-arrows1 .swiper-button-prev::after,
.normal-arrows1 .swiper-button-next::after {
    display: none;
}
/* vertical-course-item */

/* normal-course */
.normal-course {
    border-radius: 23px;
    /* overflow: hidden; */
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.10);
    margin-left: 5px;
    margin-bottom: 30px;
    background-color: #FFF;
}

.normal-course figure {
    width: 100%;
    height: 200px;
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
    border-top-right-radius: 23px;
    border-top-left-radius: 23px;
}

.normal-course .cat,
.fav-btn {
    position: absolute;
    top: 25px;
}

.normal-course .cat {
    left: 25px;
    padding: 10px;
    background-color: #D02558;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border-radius: 25px;
}

.fav-btn {
    right: 25px;
    background-color: #FFF;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #3B3E40;
}

.course-text {
    padding: 15px;
    /* background-color: #FFF; */
}

.course-text h3 {
    font-weight: 700;
    font-size: 20px;
    color: #3B3E40;
    margin-bottom: 12px;
}

.course-text .course-meta {
    list-style: none;
    padding-left: 0;
    margin-bottom: 12px;
}

.course-text .course-meta li {
    color: #7C7E80;
    font-size: 16px;
}

.course-text .course-meta li i {
    font-size: 20px;
}

.course-text .rating-result {
    margin-bottom: 7px;
}

.prices p {
    color: #EF2E79;
    font-size: 14px;
    font-weight: 500;
    margin-right: 5px;
}

.prices del {
    color: #3B3E4080;
    font-size: 16px;
    margin-right: 5px;
}

.prices strong {
    font-size: 20px;
}
/* normal-course */

/* rating-result */
.rating-result {
    display: flex;
}

.rating-result p {
    margin-bottom: 0;
    margin-right: 5px;
}

.rating-result i {
    color: #FFC75B;
    display: inline-block;
    margin-right: 5px;
}
/* rating-result */

/* bulde-course */
.bulde-course {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bulde-course::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -12px;
    right: -20px;
    z-index: -1;
    background-color: #FFF;
    box-shadow: 0px 4px 16px rgb(0 0 0 / 10%);
    border-radius: 23px;
}

.bulde-course::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -6px;
    right: -10px;
    z-index: -1;
    background-color: #FFF;
    box-shadow: 0px 4px 16px rgb(0 0 0 / 10%);
    border-radius: 23px;
}
/* bulde-course */


/* Media for responsive */
@media (min-width: 1440px) {
    /* .container {
         max-width: 1430px;
    } */
}

@media (max-width: 1440px) {}

@media (min-width: 1440px) and (max-width: 1465px) {}

@media (min-width: 1465px) and (max-width: 1565px) {}

@media (min-width: 1465px) and (max-width: 1665px) {}

@media (min-width: 1440px) and (max-width: 1750px) {}

@media (min-width: 1300px) and (max-width: 1375px) {}

@media (min-width: 1200px) and (max-width: 1300px) {}

@media (max-width: 1200px) {}

@media (max-width: 991px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 480px) {}

/* Media for responsive */